<div class= "card align-center home">
   <%= image_tag("doc.jpg", class: "card-img-top") %>
  <div class="card-body">
    <h1 class="card-title">Welcome</h1>
    <p class="card-text">Collect your documents in your Cabinet App</p>
  </div>
</div>