// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.row {
  margin-top: 3rem;
}

.cancel,
.form-title {
  margin-left: 15px;
}

.alert-notice {
  background-color: #cce5fd;
  color: blue;
}

.home {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .home {
    width: 100%;
  }
}
